body
{
	font-family: Verdana;
	padding:0px;
}
.box-body
{
	padding:0px !important;
}
.draggable-div
{
	/* padding:3%; */
	padding:0px;
}
.dropable-div
{
	 /* cursor:move; */
}
.logo
{
	max-height:120;
}
#header-info{
	border-collapse:separate; 
	/* border-spacing:.4em; */
}
#header-info td{padding:2;}
.change-button, .change-button:hover{
    font-size: 10px;
	position: relative;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    background: #000;
    padding: 4px;
    border-radius: 4px;
}
input.color-control {
	position: absolute;
    width: 50%;
    height: 50%;
    padding: 0;
    z-index: 1;
	opacity: 0;
    top: 0;
    left: 0px;
    margin: 0;
}
.bold-text{font-weight:bold;}

#header-info div[contenteditable=true], .subheaders div[contenteditable=true] {border: 2px solid black}
#header-info .row div {
	padding: 0.5% 0;
}
.subheadersbgcolor div {
	padding: 0.1% 0;
}
.intro {  
       color: Gray; 
	   opacity:0.3;
}
.centered-text{
    text-align: center; 
    vertical-align: middle;
	
}
.footer-text{
    text-align: right; 
    vertical-align: middle;
	margin-top:15px;
}
.right-text{
    text-align: right; 
    vertical-align: middle;
}
.eyeright
{
	float:right;
}
#myTable {
    padding:3px;
   border: 1px solid black;
    width: 100%;
    margin: 0 0 0 50;
    text-align: justify;
	font-size:0.9em;	
}
#myTable th {
	background-color: #99ccff;
	padding-bottom : 40px;
	font-weight: normal;
}

#myTable tbody tr {
    background: #ffffff;
}


#myTable [data-visibility='0'] {
  display:none;
}
/* .column-header-text
{
	font-weight: normal;
} */
/* .column-header-text a{
	margin-top:10px;
} */

.dragHandle {
  background-image: url("handle.png");
  background-repeat: repeat-x;
  height: 18px;
  margin: 0 1px;
  cursor: move;
  vertical-align: top;
  top:2px !important;
}

/* #colorinputColor{
  background-image: url("./assests/bg.png");
  background-repeat: repeat-y;
} */
#table-header-color {
   position:absolute;
   margin-left : 5px;
}
 .change_bg_color {
	position: absolute;
	border-radius: 100%;
	bottom: 5px;
	left: 10px;
	overflow: hidden;
} 
.color-img {height:25px; width:25px;bottom: 5px; left: 5px; top:0;}
.color-input{ position:absolute; top:0;  opacity: 0; height:25px; width:25px; bottom: 5px;   }
#inputFile{ position:absolute; top:0; z-index:-1; height:100%; width:100%; }
.footer-height{ height:50px; font-size:16px;}
.centered-text-pre{
    text-align: center; 
    vertical-align: middle;
	height:20px;
	margin-top: 10px;
	margin-bottom:10px;
	font-size:16px;
	
}
.header-text-margin{
    height:70px;
	margin-top: 10px;
	margin-bottom:60px;
	font-size:14px;
	
}
.pre-button-cancel{
    height:70px;
	margin-top: 10px;
	margin-bottom:60px;
	font-size:16px;
	font:bold-text;
	
}
