.header-logo, .header-content 
{
	width: 50%;  
	font-family: Verdana;
	padding: 20px;
}

.header-main:nth-child(1)
{
	float:left;
}
.header-main:nth-child(2)
{
	float:right;
}
.ui-sortable-handle
{
	cursor:move;
}

button{
    background-color: blue;
    height:100px;
    width:150px;
}
.unlist
{
	 list-style-type: none;
}

/* .top_listing{
	float:right;		
} */
/* .top_listing ul{
	float:left;
	width: 100%;
	padding: 0px;
	list-style: none;
	margin: 0px;	 
}
.top_listing ul li:nth-of-type(1){
	float:left;
	list-style: none;
 	width: 40%;
}
.top_listing ul li:nth-of-type(2){
	float:left;
	list-style: none;
 	width: 60%;
} */ 


.top_header{
	float:left;
	width: 100%;
	padding: 15px 0px 5px;
	background: #98DEEB;	
	position: relative;
}
/* .logo{
	float:left;
	width: 150px;
	text-align: left;
	position: relative;
	margin-bottom:20px;
}
.logo img{
	max-width:180px;
	height: auto;
	display: inline-block;
	max-height: 100px;
}
.logo input{
position:absolute;
width: 150px; 
	height: 100%;
	left: 0px;
	top: 0px;
	opacity: 0;
}
.logo_extation{
	display:inline-block;
	width: calc(100% - 150px);	
}
.logo_extation input{
	width: 150px;
    height: 30px;
    border: 1px solid #ccc;
    outline: 0;
    color: #333;
    padding: 5px;
    margin: 10px;
    display: block;
    border-radius: 4px;
} */

/* .top_right_link{
	float: right;
    width: 352px;
}
.top_right_link {
	float: left;
	
	padding: 0px;
	margin: 0px;
}
  */
.top_right_link  input {
  width: 150px;
    border-radius: 4px;
    float: left;
    padding: 0px 5px;
    margin: 0px 10px;
    display: inline-block;
}

#phn_color{
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    top: 0;
	opacity: 0;
    left: 0px;
    margin: 0;
}
#fax_color{
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
	opacity: 0;
    top: 0;
    left: 0px;
    margin: 0;
}
#email_color{
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
	opacity: 0;
    top: 0;
    left: 0px;
    margin: 0;
}
#web_color{
		position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
	opacity: 0;
    top: 0;
    left: 0px;
    margin: 0;
}

.top_right_link div{
	float: right;
    width: 360px;
	margin: 4px 0px;
}

.top_right_link div div{
	float:left;
	width: 100%;	
}
.top_right_link button.yh{
	    float: left;
    border: 0px;
    background: none;
    color: #000;
    outline: 0;
	font-size: 18px; 
    width: auto;
    height: auto;
}
.top_right_link  h3{
	float: left;
    width:60px;
    font-size: 14px;
    color: #000;
	font-weight: 600;
    margin: 3px 10px;
}
.top_right_link  h4{
	    float: left;
    margin: 3px 10px;
    color: #000;
    font-size: 15px;
    width: 150px;
}
.top_right_link a.chngbtn{
	    float: left;
    font-size: 11px;
	position: relative;
    color: #fff;
	position: relative;
    text-decoration: none;
    margin: 0px 3px;
    background: #000;
    padding: 4px;
    border-radius: 4px;
	
}

/* .change_bg_color{
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	bottom: 5px;
	left: 10px;
	overflow: hidden;
}
.change_bg_color input{
	position: absolute;
	opacity: 0;
	width: 25px;
	height: 25px;
	
}
.change_bg_color img{
	width: 25px;
	height: 25px;
} */
.cont_box_2{
	float:left;
	width: 100%;
	position: relative;
	padding: 10px 0px;
	background:#F3D673;
}

.cont_box_3{
	float:left;
	width: 100%;
	position: relative;
	padding: 10px 0px;
	background:#fff;
}

.cont_box_4{
	float:left;
	width: 100%;
	position: relative;
	padding: 10px 0px;
	background:#eee;
}
.cont_box_5{
	float:left;
	width: 100%;
	position: relative;
	padding: 10px 0px;
	background:#fff;
}


.top_right_link_2{
	float: left;
    width:100%;
	text-align: center;
}
.top_right_link_2 ul{
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.top_right_link_2 ul li{
	display: inline-block;
    list-style: none;
    width: 100%;
    margin: 5px 0px;
}
.top_right_link_2 ul li button.yh{
	display: inline-block;
    border: 0px;
    background: none;
    color: #000;
    outline: 0;
	font-size: 18px; 
    width: auto;
    height: auto;
}
.top_right_link_2 ul li h3{
	display: inline-block;
    width:60px;
    font-size: 14px;
    color: #000;
	font-weight: 600;
    margin: 3px 10px;
}
.top_right_link_2 ul li h4{
	  display: inline-block;
    margin: 3px 10px;
    color: #000;
    font-size: 15px;
    width:auto;
}
.top_right_link_2 ul li a.chngbtn{
	  display: inline-block;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
	position: relative;
    margin: 0px 3px;
    background: #000;
    padding: 4px;
    border-radius: 4px;
}

#column_2_color, #column_3_text_color, #column_3_text_2_color, #column_3_text_3_color {
    position: absolute;
    width: 100%;
    height: 100%;
	opacity: 0;
    padding: 0;
    z-index: 1;
    top: 0;
    left: 0px;
    margin: 0;
}

.colm_inner_right ul li h3 a input {
    position: absolute;
    width: 100%;
    height: 100%;
	opacity: 0;
    padding: 0;
    z-index: 1;
    top: 0;
    left: 0px;
    margin: 0;
}


.coulm_outer{
	    float: left;
    width: 100%;
    margin: 15px 0px;
    position: relative;
    overflow-x: scroll;
	padding-right: 10px;
}
.colm_inner{
	float: left;
	width: 140%;
	border: 1px solid #ccc;
	border-right: 0px;
}
.colm_inner_left{
	float: left;
	width: 40px;
	text-align: center;
}
.colm_inner_left b{
	float: left;
    width: 100%;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
}
.colm_inner_left b:last-child{
	border-bottom: 0px;
}
.colm_inner_right{
	float: left;
    width: calc(100% - 40px);
    border-left: 1px solid #ccc;
}
.colm_inner_right ul{
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.colm_inner_right ul li{
	float: left;
    width: calc(100% / 18);
    list-style: none;
}
.colm_inner_right ul li h3{
	    float: left;
    width: 100%;
    margin: 0px 0px;
    background: #99cdff;
    color: #000;
    padding: 5px 0px;
    cursor: move;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-weight: 600;
    text-align: center;
    height: 36px;
    line-height: 26px;
}
.colm_inner_right ul li h3 a{ 
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 1px;
    border-radius: 2px;
	position: relative;
}
#coloumn_5_color{
	position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0;
    z-index: 1;
    top: 0;
    left: 0px;
    margin: 0;
}
.colm_inner_right ul li h3 a:nth-of-type(1){
	text-decoration: underline;
	    color: #429ac9;
}
.colm_inner_right ul li h4{
	float: left;
    width: 100%;
    margin: 0px 0px;
    color: #666666;
    padding: 5px 0px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-weight: 500;
    text-align: center;
    height: 26px;
    line-height: 16px;
}
.colm_inner_right ul li h4:last-child{
	border-bottom: 0px;
}

.columen_control_bx{
	float: left;
	width: 100%;
	margin: 15px 0px;
}

.colm-footer{
	float: left;
	width: 100%;
	background: #99cdff;
	padding: 25px 0px;
	position: relative;
}

.col_footer_bx{
	float: right;
	width: auto;
}
.col_footer_bx_left{
	float: left;
	width: 95px;
	text-align: center;
}
.col_footer_bx_left h3{
	float: left;
    width: 100%;
    margin: 0px 0px; 
    color: #000;
    padding: 5px 0px; 
    font-size: 14px; 
    font-weight: 600;
    text-align: center; 
}
.col_footer_bx_left h3 a {
    color: #000;
    background: #000;
	position: relative;
    color: #fff;
    font-size: 11px;
    padding: 4px;
    border-radius: 2px;
}

.col_footer_bx_left h3 a:nth-of-type(1) {
    text-decoration: underline;
    color: #429ac9;
}

.columne_btn_bx{
	float: left;
	width: 100%;
	text-align: center;
	    margin: 25px 0px;
}
.columne_btn_bx button{
	display: inline-block;
    padding: 12px 30px;
    border-radius: 11px;
    background: #8eaadc;
    border: 0px;
    outline: 0;
    margin: 6px;
    height: auto;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.columne_btn_bx button:hover{
	background: #688fd5;
}
.columne_btn_bx button:nth-of-type(2){
	background: #3cd818;
}
.columne_btn_bx button:hover:nth-of-type(2){
	background: #39C50C;
}
.columne_btn_bx button:nth-of-type(3){
	background: #f1373f;
}
.columne_btn_bx button:hover:nth-of-type(3){
	background: #F01131;
}

/*----------------------checkbox---------------------*/

.container_check{
     display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark_2 {
  position: absolute;
  top: -3px;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_check:hover input ~ .checkmark_2 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_check input:checked ~ .checkmark_2 {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark_2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark_2:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_check .checkmark_2:after {
      left: 9px;
    top: 3px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.change_bg_color_2{
   position: relative;
    width: 100%;
    height: 36px;
    overflow: hidden;
    display: inline-block;
    background: #99cdff;
}
.change_bg_color_2 input {
    position: absolute;
    opacity: 0;
    width: 25px;
    height: 25px;
}
.change_bg_color_2 img {
    width: 25px;
    height: 25px;
	margin-top: 5px;
}




@media (min-width: 320px) and (max-width: 680px){
	
	.top_header { 
    padding: 19px 0px 40px;
}
	.colm_inner {
    float: left;
    width: 1830px;
	}
	
	.columne_btn_bx button {
    display: inline-block;
    width: auto;
    padding: 12px 24px;
	}
	
.top_listing ul li:nth-of-type(1) {  
    width: 100%;
    padding: 0px 0px;
}	
	.top_listing ul li:nth-of-type(2) {  
    width: 100%;
    padding: 0px 0px;
}
	.top_right_link h3{
		margin:3px 3px;
		
	}	
	.top_right_link h4 {
    float: left;
    margin: 3px 5px;
	}
	
.top_right_link div {
    float: right;
    width: 100%;
    margin: 4px 0px;
}
	
	
}

